/* MAIN */
#main{
    display: flex;
}

/*LEFT SIDE MENU*/
#left-menu{
    position: fixed;
    text-align: right;
    background: rgb(0, 64, 64);
    width: 250px;
    height: 100vh;
}

#logo{
    background: rgba(0, 0, 0, 0);
    text-align: center;
    height: auto;
    width: 100%;
}

#logo-text{
    color: whitesmoke;
    font-family: 'Allura';
    font-size: 60px;
}

.left-box-selected{
    background: white;
}

.left-box-not-selected{
    background: rgba(0, 255, 255, 0);
}

.left-box{
    display: table;
    margin:10px;
    padding-right: 10px;
    height: 50px;
    width: 85%;
}

.album-text{
    vertical-align: middle;
    color:white;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.left-icon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 20px;
    opacity: 0.1;
}

.left-icon:hover{
    opacity: 1;
}

.left-box-not-selected:hover{
    background: rgba(0, 255, 255, 0.2);
}

.left-box-selected .album-text{
    color:black;
}

#button-add-album{
    color: rgb(215, 255, 255);
    opacity: 0.2;
    text-align: center;
    font-size: 40px;
}

#button-add-album:hover{
    opacity: 0.8;
}

/* CONTENT */
#content{   
    width: 100%;
    margin-left: 255px;
}

#top-menu{
    width: 100%;
    height: 60px;
    text-align: right;
}

#content-albums{

}

/* LOGIN and SIGNUP*/
.log-button{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: lightseagreen;
    color:white;
    border-top-left-radius: 15px 15px; 
    border-top-right-radius: 15px 15px;  
    border-bottom-left-radius: 15px 15px; 
    border-bottom-right-radius: 15px 15px;  
}

.log-button:hover{
    background: lightgreen;
}

.log-form{
    width: 250px;
    height: auto;
    background: white;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right:5px;
    text-align: left;
    visibility: hidden;
}

/* IMAGE */
.image{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.image:hover{
    opacity: 0.8;
}

.image-cover{
    display: inline-block;
    background: lightgray;
    width: 24%;
    transition: width 0.5s;
    margin: 0.5%; 
}

@media (max-width: 1500px){
    .image-cover{
        width: 32%;
    }
}

@media (max-width: 1100px){
    .image-cover{
        width: 49%;
    }
}

@media (max-width: 700px){
    .image-cover{
        width: 99%;
    }
}